
{% extends "layouts/main.html" %}

{% block pageTitle %}
Make an EU VAT claim – GOV.UK
{% endblock %}

{% block content %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

<h1 class="govuk-heading-l">
  Make an EU VAT claim
</h1>

<ul class="govuk-task-list">

  <!-- CLICKABLE -->
  <li class="govuk-task-list__item">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link" href="/ra21-eu-vat-eu-member-state">
        Add claim details
      </a>
    </div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--blue">
        Not yet started
      </strong>
    </div>
  </li>

  <!-- NOT CLICKABLE -->
  <li class="govuk-task-list__item">
    <div class="govuk-task-list__name-and-hint">
      <span>Add a purchase</span>
    </div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--grey">
        Cannot start yet
      </strong>
    </div>
  </li>

  <!-- NOT CLICKABLE -->
  <li class="govuk-task-list__item">
    <div class="govuk-task-list__name-and-hint">
      <span>Add an import</span>
    </div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--grey">
        Cannot start yet
      </strong>
    </div>
  </li>

  <!-- NOT CLICKABLE -->
  <li class="govuk-task-list__item">
    <div class="govuk-task-list__name-and-hint">
      <span>Add supporting documents</span>
    </div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--grey">
        Cannot start yet
      </strong>
    </div>
  </li>

  <!-- NOT CLICKABLE -->
  <li class="govuk-task-list__item">
    <div class="govuk-task-list__name-and-hint">
      <span>Add bank details</span>
    </div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--grey">
        Cannot start yet
      </strong>
    </div>
  </li>

</ul>

<p class="govuk-body">
  <a class="govuk-link" href="#">
    Delete claim
  </a>
</p>

<p class="govuk-body">
  <a class="govuk-link" href="/aa10-manage-eu-vat-claim">
    Go to the claims dashboard
  </a>
</p>

{% endblock %}
