
{% extends "layouts/main.html" %}

{% block pageTitle %}
Make an EU VAT claim – GOV.UK
{% endblock %}

{% block content %}

<a href="/ra40-eu-vat-claim-details-check-answers-change-member-state" class="govuk-back-link">
  Back
</a>

<h1 class="govuk-heading-l">
  Make an EU VAT claim
</h1>

<ul class="govuk-task-list">

  <!-- COMPLETED – CLICKABLE -->
  <li class="govuk-task-list__item">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link" href="/ra40-eu-vat-claim-details-check-answers-change-member-state">
        View claim details
      </a>
    </div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--green">
        Completed
      </strong>
    </div>
  </li>

  <!-- ADD A PURCHASE -->
  <li class="govuk-task-list__item">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link" href="/ra42-about-the-purchase">
        Add a purchase
      </a>
    </div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--blue">
        Not yet started
      </strong>
    </div>
  </li>

  <!-- ADD AN IMPORT -->
  <li class="govuk-task-list__item">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link" href="#">
        Add an import
      </a>
    </div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--blue">
        Not yet started
      </strong>
    </div>
  </li>

  <!-- ADD SUPPORTING DOCUMENTS -->
  <li class="govuk-task-list__item">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link" href="/ra61-add-supporting-documents">
        Add supporting documents
      </a>
    </div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--blue">
        Not yet started
      </strong>
    </div>
  </li>

  <!-- ADD BANK DETAILS -->
  <li class="govuk-task-list__item">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link" href="/ra60-bank-details">
        Add bank details
      </a>
    </div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--blue">
        Not yet started
      </strong>
    </div>
  </li>

</ul>

<p class="govuk-body">
  <a class="govuk-link" href="/aa10-manage-eu-vat-claim">
    Go to the claims dashboard
  </a>
</p>

<p class="govuk-body">
  <a class="govuk-link" href="#">
    Delete claim
  </a>
</p>

{% endblock %}
