
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Purchase type – EU VAT – GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "ra41-eu-vat-claim-details-completed.html"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Add purchase details</span>

      <h1 class="govuk-heading-l">
        Purchase type
      </h1>

      <p class="govuk-body">
        If the invoice includes more than one type of purchase, do not split the invoice over more than one line using the same purchase reference number.
      </p>

      <p class="govuk-body">
        This may be treated as a duplicate entry and could delay or reject your claim.
      </p>

      <p class="govuk-body">
        Instead, select ‘Other’ and itemise the different items and amounts in the purchase description, or select the highest-value item on the invoice.
      </p>

      <form method="post" action="/ra60-purchase-subcode">

        <h2 class="govuk-heading-m">
          What is the purchase type that best describes the item on your invoice?
        </h2>

        {{ govukRadios({
          idPrefix: "purchaseType",
          name: "purchaseType",
          items: [
            { value: "fuel", text: "Fuel" },
            { value: "transport", text: "Expenditure relating to means of transport" },
            { value: "luxuries", text: "Expenditure on luxuries, amusements and entertainment" },
            { value: "other", text: "Other" }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
``
