
{% extends "layouts/main.html" %}

{% block pageTitle %}
Make an EU VAT claim – GOV.UK
{% endblock %}

{% block content %}

<a href="/ra811-check-your-purchase-details" class="govuk-back-link">Back</a>

<h1 class="govuk-heading-l">
  Make an EU VAT claim
</h1>

<ul class="govuk-task-list">

  <!-- COMPLETED – NOT CLICKABLE WITH EXPLANATORY HINT -->
  <li class="govuk-task-list__item">
    <div class="govuk-task-list__name-and-hint">
      <span class="govuk-task-list__task-name">
        Add claim details
      </span>
      <div class="govuk-task-list__hint">
        You cannot change claim details after adding purchases or imports.
      </div>
    </div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--green">
        Completed
      </strong>
    </div>
  </li>

  <!-- ADD PURCHASE – CLICKABLE -->
  <li class="govuk-task-list__item">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link" href="/ra50-what-is-the-purchase">
        Add a purchase
      </a>
    </div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--blue">
        Add to list
      </strong>
    </div>
  </li>

  <!-- ADD IMPORT – CLICKABLE -->
  <li class="govuk-task-list__item">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link" href="#">
        Add an import
      </a>
    </div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--blue">
        Add to list
      </strong>
    </div>
  </li>

  <!-- VIEW PURCHASES AND IMPORTS – VIEW ONLY -->
  <li class="govuk-task-list__item">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link" href="/ra70-view-purchases-imports">
        View purchases and imports for this claim
      </a>
    </div>
    <div class="govuk-task-list__status"></div>
  </li>

  <!-- ADD SUPPORTING DOCUMENTS – CLICKABLE -->
  <li class="govuk-task-list__item">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link" href="/ra61-add-supporting-documents">
        Add supporting documents
      </a>
    </div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--blue">
        Add to list
      </strong>
    </div>
  </li>

  <!-- VIEW SUPPORTING DOCUMENTS – NOT CLICKABLE WITH HINT -->
  <li class="govuk-task-list__item">
    <div class="govuk-task-list__name-and-hint">
      <span class="govuk-task-list__task-name">
        View supporting documents
      </span>
      <div class="govuk-task-list__hint">
        You need to add supporting documents before you can view them.
      </div>
    </div>
    <div class="govuk-task-list__status"></div>
  </li>

  <!-- BANK DETAILS – CLICKABLE -->
  <li class="govuk-task-list__item">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link" href="/ra60-bank-details">
        Add bank details
      </a>
    </div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--blue">
        Not started
      </strong>
    </div>
  </li>

</ul>

<p class="govuk-body">
  <a class="govuk-link" href="/aa10-manage-eu-vat-claim">
    Go to the claims dashboard
  </a>
</p>

<p class="govuk-body">
  <a class="govuk-link" href="#">
    Delete claim
  </a>
</p>

{% endblock %}
