
{% extends "layouts/main.html" %}

{% block pageTitle %}
Make an EU VAT claim – GOV.UK
{% endblock %}

{% block content %}

<a href="/ra811-check-your-purchase-details" class="govuk-back-link">Back</a>

<h1 class="govuk-heading-l">
  Make an EU VAT claim
</h1>

<ul class="govuk-task-list">

  <!-- CLAIM DETAILS – COMPLETED -->
  <li class="govuk-task-list__item">
    <div class="govuk-task-list__name-and-hint">
      <span class="govuk-task-list__task-name">
        Add claim details
      </span>
      <div class="govuk-task-list__hint">
        You cannot change claim details after adding purchases or imports.
      </div>
    </div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--green">
        Completed
      </strong>
    </div>
  </li>

  <!-- VIEW PURCHASES (REPLACES ADD PURCHASE) -->
  <li class="govuk-task-list__item">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link" href="/ra8111-purchases-added">
        View purchases
      </a>
    </div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--green">
        Completed
      </strong>
    </div>
  </li>

  <!-- ADD IMPORT – NOT YET STARTED -->
  <li class="govuk-task-list__item">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link" href="#">
        Add an import
      </a>
    </div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--blue">
        Not yet started
      </strong>
    </div>
  </li>

  <!-- ADD SUPPORTING DOCUMENTS -->
  <li class="govuk-task-list__item">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link" href="/ra61-add-supporting-documents">
        Add supporting documents
      </a>
    </div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--blue">
        Not yet started
      </strong>
    </div>
  </li>

  <!-- ADD BANK DETAILS -->
  <li class="govuk-task-list__item">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link" href="/ra60-bank-details">
        Add bank details
      </a>
    </div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--blue">
        Not yet started
      </strong>
    </div>
  </li>

</ul>

<p class="govuk-body">
  <a class="govuk-link" href="/aa10-manage-eu-vat-claim">
    Go to the claims dashboard
  </a>
</p>

<p class="govuk-body">
  <a class="govuk-link" href="#">
    Delete claim
  </a>
</p>

{% endblock %}
